settings {
    .header-wrapper {
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
    }

    .settings-wrapper {
        padding: 20px;

        .action-wrapper {
            display: flex;
        }
    }
}
