main-menu {
    .main-menu-wrapper {
        width: 80%;
        margin: 0 auto;

        .logo-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .logo {
                max-width: 20%;
                opacity: 0.3;
            }

            .game-name {
                position: absolute;
                font-size: 25px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .rank-wrapper {
            font-size: 20px;
            margin-top: 20px;
            text-align: center;
        }

        .menu-wrapper {
            text-align: center;
            font-size: 25px;

            .menu-item {
                margin-top: 30px;

                button {
                    background-color: $primary-color-dark;
                    padding: 0 5em;
                    height: 5.5rem;

                    &:active {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }
}
