game {

    .content-wrapper {
        height: 100%;
    }

    #game-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        position: relative;

        .game {
            margin: 0 auto;
            width: 100%;
        }

        box {
           &.on-top  {
               z-index: 10;
           }
        }

        &.level-1 {
            box {
                // give 2% less then originally because we have 1% of margin there.
                width: 98%;
            }
        }

        &.level-2 {
            box {
                // give 2% less then originally because we have 1% of margin there.
                width: 48%;
            }
        }

        &.level-3 {
            box {
                // give 2% less then originally because we have 1% of margin there.
                width: 31.33333%;
            }
        }

        &.level-4 {
            box {
                // give 2% less then originally because we have 1% of margin there.
                width: 23%;
            }
        }
    }

    #goal-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        .text {
            font-size: 20px;
        }

        .target {
            width: 25px;
            height: 25px;
            margin: 0 10px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
        }
    }

    .countdown-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1;

        div {
            height: 100%;
            width: 100%;
            background: #FFF9C4;
        }
    }
}
