<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Page One</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="content-wrapper">
        <div id="goal-wrapper">
            <div class="text">Hit:</div><div class="target" [ngStyle]="{'background': gameList[getLevel()].targetBox.color}"></div>
        </div>
        <div id="game-wrapper" class="level-{{ level }}">
            <div class="game">
                <box *ngFor="let box of gameList[getLevel()].boxList" [box]="box" [target]="gameList[getLevel()].targetBox" (onHit)="boxWasHit(box)" [ngClass]="{'on-top': box.isHit}"></box>
            </div>
        </div>
    </div>

    <div class="countdown-wrapper">
        <div [ngStyle]="{width: countDownPercentage + '%'}"></div>
    </div>

    <div class="level-finished" *ngIf="isLevelFinished">Level finished!</div>
</ion-content>
