box {
    margin: 1%;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    .box {
        display: block;
        padding: 2px;
        height: 100%;

        &.hit {
            animation: spin 0.3s linear;
        }
    }
}

// TODO: Check https://desandro.github.io/3dtransforms/docs/card-flip.html
@keyframes spin {
    100% {
        transform:rotateY(180deg);
    }
}
