box {
    .box {
        display: block;
        padding: 2px;

        &.missed {
            animation: spin 0.3s linear;
        }
    }
}

// TODO: Check https://desandro.github.io/3dtransforms/docs/card-flip.html
@keyframes spin {
    100% {
        transform:rotateY(180deg);
    }
}
